.authentication
  %form(role="form" ng-init="loginForm = {}" novalidate)
    %br
    %button#facebook(href="#" ui-sref="oauth({provider:'facebook'})") Log in with Facebook
    %br
    %input(type="email" name="email" ng-model="login.email" placeholder="Email" required)
    %br
    %input(type="password" name="password" ng-model="login.password" placeholder="Password" required)
    %a#forgot-password(ui-sref="passwordReset")
      %span Forgot password?
    %br
    %button(type="submit" ng-click="submitLogin()" ng-disabled="loginForm.$invalid") Log In
    %br
