.authentication
  %form(ng-submit="requestPasswordReset()" role="form" ng-init="passwordResetForm = {}" novalidate)
    %br
    #reset-password-header Reset Password
    %br
    #reset-password-text Enter the email address associated with your account, and we'll email you a link to reset your password.
    %br
    %input(type="email" name="email" ng-model="passwordReset.email" placeholder="Email" required)
    %br
    %button(type="submit" ng-disabled="passwordResetForm.$invalid") Send Reset Link
    %br
