%h2
%form(role="form" ng-init="roleForm = {}" novalidate)
  %label{:for => "roleName"} Name
  %input(type="text" id="roleName" ng-model="role.name" autofocus required)
  %br
  %button.save(ng-click="save()" ng-disabled="roleForm.$invalid") Save
  %span
  %button.delete(ng-click="delete()") Delete
  %span
  %button.back(ui-sref="roles") Close
