.row
  .col-xs-12.col-lg-3.list
    %h2 Roles
    %br
      %div(ng-repeat="role in roles")
        %a(ui-sref=".detail({id:role.id})" ng-bind="role.name")
    %br
    %button.new(ui-sref=".detail") New
    %span
    %button.back(ui-sref="dashboard") Close
  .col-xs-12.col-lg-9.detail
    %div(ui-view)
