.row
  .col-xs-12.col-lg-3.list
    %h2 Exercises
    %br
      %div(ng-repeat="exerciseDescription in exerciseDescriptions")
        %a(ui-sref=".detail({id:exerciseDescription.id})" ng-bind="exerciseDescription.name")
    %br
    %button.new(ui-sref=".detail") New
    %span
    %button.back(ui-sref="dashboard") Close
  .col-xs-12.col-lg-9.detail
    %div(ui-view)
