%h2
%form(role="form" ng-init="paymentPlanForm = {}" novalidate)
  %label{:for => "paymentPlanName"} Name
  %input(type="text" id="paymentPlanName" ng-model="paymentPlan.name" ng-maxlength="50" autofocus required)
  %br
  %label{:for => "paymentPlanDescription"} Description
  %input(type="text" id="paymentPlanDescription" ng-model="paymentPlan.description" required)
  %br
  %label{:for => "paymentPlanPrice"} Price
  %input(type="text" id="paymentPlanPrice" ng-model="paymentPlan.price" format-number required)
  %br
  %label{:for => "paymentPlanCurrencyIsoCode"} Currency
  %input(type="text" id="paymentPlanCurrencyIsoCode" ng-model="paymentPlan.currency_iso_code" required)
  %br
  %label{:for => "paymentPlanBillingDayOfMonth"} Billing Day of Month
  %input(type="text" id="paymentPlanBillingDayOfMonth" ng-model="paymentPlan.billing_day_of_month" required)
  %br
  %label{:for => "paymentPlanNumberOfBillingCycles"} Number of Billing Cycles
  %input(type="text" id="paymentPlanNumberOfBillingCycles" ng-model="paymentPlan.number_of_billing_cycles" format-number="{ min:1, max:12, maxDecimals:0 }" required)
  %br
  %label{:for => "paymentPlanBillingFrequency"} Billing Frequency
  %input(type="text" id="paymentPlanBillingFrequency" ng-model="paymentPlan.billing_frequency" format-number="{ maxDecimals:0 }" required)
  %br
  %button.save(ng-click="save()" ng-disabled="paymentPlanForm.$invalid") Save
  %span
  %button.delete(ng-click="delete()") Delete
  %span
  %button.back(ui-sref="paymentPlans") Close
