$birdy_blue:#3a4d99;
$birdy_blue-light:#6b79b1;
$well_done_green:#3a9959;
$well_done_green-light:#b0d6bd;
$blackBlue:#2e313b;
$black:#222222;
$grey-dark:#222526;
$grey:#333;
$grey-light:#555555;
$grey-lighter:#999999;
$white:#fafafa;
$facebook:#365195;
