// @import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.my-icon,
.icon-close,
.icon-cog,
.icon-lock,
.icon-unlock,
.icon-users {
  position:relative;
  font-family:FontAwesome;
}

.my-icon:before {
  content:"\f0f9";
}

.icon-close:before {
  content:"\f00d"
}

.icon-cog:before {
  content:"\f013"
}

.icon-lock:before {
  content:"\f023"
}

.icon-unlock:before {
  content:"\f09C"
}

.icon-users:before {
  content:"\f0c0"
}
