.menubar {
  margin:20px auto;
  float:right;
}

.menubar a {
  background-color:$white;
  border:none;
  color:$grey;
  margin-right:20px;
}

.menubar a#list-as-trainer {
  background-color:$birdy_blue;
  color:$white;
  height:3em;
  padding:5px 10px;
  width:6em;
}

.menubar a:hover {
  text-decoration:none;
}

.dropdown {
  display:block;
}

.dropdown ul {
  list-style:none;
  margin:0;
  padding:0;
}

.dropdown li {
  margin-left:20px;
}

.dropdown ul li ul {
  background-color:$grey;
  display:none;
  height:100%;
  left:0;
  padding-top:50px;
  position:fixed;
  top:0;
  width:250px;
  z-index:1000;
}

.dropdown ul li:hover > ul,
.dropdown ul li ul:hover {
  display:block;
}

.dropdown ul li ul li {
  clear:both;
  height:40px;
}

.dropdown ul li ul li:hover {
  cursor:pointer;
}

.dropdown ul li ul li a {
  color:$grey-light;
  text-decoration:none;
}

.dropdown-toggle {
  background-color:$white;
  border:none;
  color:$grey;
  height:30px;
  left:0;
  margin-left:20px;
  margin-top:20px;
  outline:none;
  position:fixed;
  top:0;
  width:40px;
}
