%h2
%form(role="form" ng-init="exerciseForm = {}" novalidate)
  %label{:for => "exerciseRepetition"} Repetition
  %input(type="integer" id="exerciseRepetition" ng-model="exercise.repetition" autofocus required)
  %br
  %label{:for => "exerciseTempo"} Tempo
  %input(type="integer" id="exerciseTempo" ng-model="exercise.tempo" autofocus required)
  %br
  %button.save(ng-click="save()" ng-disabled="exerciseForm.$invalid") Save
  %span
  %button.delete(ng-click="delete()") Delete
  %span
  %button.back(ui-sref="exercisePlans") Close
