%h2
%form(role="form" ng-init="productsForm = {}" novalidate)
  %label{:for => "productsName"} Name
  %input(type="text" id="productsName" ng-model="products.name" ng-maxlength="50" autofocus required)
  %br
  %label{:for => "productsDescription"} Description
  %input(type="text" id="productsDescription" ng-model="products.description" required)
  %br
  %button.save(ng-click="save()" ng-disabled="productsForm.$invalid") Save
  %span
  %button.delete(ng-click="delete()") Delete
  %span
  %button.back(ui-sref="productss") Close
