%h2
%form(role="form" ng-init="exercisePlanForm = {}" novalidate)
  %label{:for => "exercisePlanName"} Name
  %input(type="text" id="exercisePlanName" ng-model="exercisePlan.name" ng-maxlength="50" autofocus required)
  %br
  %label{:for => "exercisePlanDescription"} Description
  %input(type="text" id="exercisePlanDescription" ng-model="exercisePlan.description")
  %br
  %button.save(ng-click="save()" ng-disabled="exercisePlanForm.$invalid") Save
  %span
  %button.delete(ng-click="delete()") Delete
  %span
  %button.back(ui-sref="exercisePlans") Close
