%form(role="form" ng-init="loginInfoform = {}" novalidate)
  %label{:for => "email"} Email
  %input(type="email" id="email" ng-model="email" required)
  %br
  %label{:for => "passwordCurrent"} Current Password
  %input(type="password" id="passwordCurrent" ng-model="loginInfo.password_current" required)
  %br
  %label{:for => "password"} New Password
  %input(type="password" id="password" ng-model="loginInfo.password" required)
  %br
  %label{:for => "passwordConfirmation"} Retype Password
  %input(type="password" id="passwordConfirmation" ng-model="loginInfo.password_confirmation" required)
  %br
  %button.save(ng-click="updatePassword()" ng-disabled="loginInfoform.$invalid") Save
  %span
  %button.back(ui-sref="dashboard") Close
